<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wifi Load balancing App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/empower.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/apps/wifiloadbalancing/wifiloadbalancing.css" />

    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
    <script type="text/javascript" src="/static/js/d3.js"></script>

    <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>
    <script type="text/javascript" src="/static/apps/wifiloadbalancing/wifiloadbalancing.lib.js"></script>

    <script type="text/javascript">
      var tenant_id = "{{tenant_id}}"

    </script>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row">

        <div class="jumbotron">
          <div class="row">
            <h1> Wifi Load Balancing </h1>
          </div>
        </div>

      </div>

      <div class="row" id="graphRow"></div>

    </div>

  </body>
</html>
